html{margin:0;overflow-y:scroll;padding:0;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:1em;line-height:1.5}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
body,button,input,select,textarea{font-family:sans-serif}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
pre,code,kbd,samp{font-family:monospace serif;_font-family:'courier new' monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
ins{background:#ff9;color:#000;text-decoration:none}
sub,sup{position:relative;font-size:75%;line-height:1px;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin-left:0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol{margin:0;padding:0;list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
svg:not(:root){overflow:hidden}
hr{display:block;height:1px;margin:1em 0;padding:0;border:0;border-top:1px solid #ccc}
figure{margin:0}
form{margin:0}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid #c0c0c0}
legend{border:0;*margin-left:-7px}
label{cursor:pointer}
button,input,select,textarea{margin:0;vertical-align:baseline;*vertical-align:middle;font-size:100%}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;*overflow:visible;cursor:pointer}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.ir{display:block;overflow:hidden;background-repeat:no-repeat;direction:ltr;text-align:left;text-indent:-999em}
.hidden{display:none;visibility:hidden}
.visually-hidden{height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;border:0;clip:rect(0 0 0 0)}
.visually-hidden.focusable:active,.visually-hidden.focusable:focus{height:auto;margin:0;overflow:visible;position:static;width:auto;clip:auto}
.invisible{visibility:hidden}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
html{height:100%;margin:0;padding:0;background:#dbd3cc url("../img/pattern-slant-rt.png") repeat left top;color:#41403d;font:normal 100%/1.5 "Open Sans",sans-serif}
body{margin:0;min-height:100%;padding:0;font:300 100%/1.5 "Open Sans",sans-serif}
p{margin:0 0 1.5em;padding:0}
a,a:link,a:visited{border-bottom:.1em solid rgba(207,65,15,0.20);-moz-transition:all 150ms linear;-ms-transition:all 150ms linear;-o-transition:all 150ms linear;-webkit-transition:all 150ms linear;transition:all 150ms linear;color:#cf410f;text-decoration:none}
a:hover,a:focus,a:active{border-color:#ed4a11;color:#ed4a11}
ul,.alt-list{margin:0 0 1.5em;padding:0;list-style-type:none;}
ul li,.alt-list li{position:relative}
ul li:before,.alt-list li:before,ul .alt-list li:before,.alt-list .alt-list li:before{content:"•";left:-.6em;position:absolute;width:.5em;color:#9b9691;font-size:1.5em;line-height:1.1;text-align:right}
strong,b{font-weight:400}
del{color:#9b9691}
.btn-group{text-align:center}
.btn,.btn:link,.btn:visited{display:inline-block;padding:.5em 1em .7em;position:relative;background-color:#948778;border:0;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-transition:all 150ms linear;-ms-transition:all 150ms linear;-o-transition:all 150ms linear;-webkit-transition:all 150ms linear;transition:all 150ms linear;color:#fff;font-size:1.125em;font-weight:400}
.btn:hover,.btn:focus,.btn:active{background-color:#cf410f}
.btn:active{top:1px;-moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.40);-ms-box-shadow:inset 0 0 5px rgba(0,0,0,0.40);-o-box-shadow:inset 0 0 5px rgba(0,0,0,0.40);-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.40);box-shadow:inset 0 0 5px rgba(0,0,0,0.40)}
[title="and"]{font-family:Baskerville,Palatino,"Book Antiqua",serif;font-style:italic;font-weight:normal}
.grid{height:100%;padding-left:1.25%;position:fixed;top:0;width:100%}
.g{float:left;height:100%;margin:0 1.25%;width:9.6875%;-moz-box-shadow:0 0 0 1px rgba(0,0,0,0.60);-ms-box-shadow:0 0 0 1px rgba(0,0,0,0.60);-o-box-shadow:0 0 0 1px rgba(0,0,0,0.60);-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.60);box-shadow:0 0 0 1px rgba(0,0,0,0.60)}
.module{padding:0 2.5%;position:relative;z-index:30;-moz-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-ms-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-o-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-webkit-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);box-shadow:0 35px 40px -40px rgba(0,0,0,0.06)}
.unit,.box{display:inline;float:left;position:relative;width:100%}
.unit{padding-bottom:3.6em;padding-top:7.5em}
.box{float:right}
.secondary{float:right}
@media all and (min-width: 700px){.box{margin-right:.4%;width:48.4%}
.box:last-child{float:left;margin-right:0}
.module-wide .box{width:100%}
.primary{width:48.6%}
.secondary{margin-right:.4%;width:48.6%}
.tertiary{clear:left}
.module-feature{padding-left:26.6%}
.module-feature .primary{width:100%}
.module-feature .secondary{padding-top:0;width:100%}
.feature{left:2.5%;position:absolute;width:20%}
}@media all and (min-width: 1150px){.box,.module-wide .box{width:48.4%}
.primary{width:35.7%}
.secondary{float:left;margin-left:2.5%;width:23.1%}
.tertiary{clear:none;float:right;margin-right:.6%;width:35.9%}
.module-feature{padding-right:39.4%}
.module-feature .secondary{margin-left:0;margin-right:-100%;padding-top:7.5em;right:-6.8%;width:100%}
.feature{left:auto;margin-left:-106.8%;position:relative;right:64.5%;width:64.5%}
}[role="banner"]{margin:0;padding:0 2.4em 0;background:#beb4aa url("../img/pattern-slant-dark-rt.png") repeat left top;color:#4f3c25}
.site-title{float:right;margin:0;padding:0;font-weight:600;line-height:1.5;text-align:right;}
.site-title .logo,.site-title .logo,.site-title .logo i:first-child,.site-title .logo i + i{height:47px;position:absolute;right:0;width:25px}
.site-title .logo i:first-child,.site-title .logo i + i{left:0;background:transparent url("../img/rocket.png") no-repeat left top;-moz-transition:all 150ms linear 10ms;-ms-transition:all 150ms linear 10ms;-o-transition:all 150ms linear 10ms;-webkit-transition:all 150ms linear 10ms;transition:all 150ms linear 10ms}
.site-title .logo i + i{left:auto;right:0;width:0;background-position:right top;-moz-transition:all 150ms linear;-ms-transition:all 150ms linear;-o-transition:all 150ms linear;-webkit-transition:all 150ms linear;transition:all 150ms linear}
.site-title a,.site-title a:link,.site-title a:visited{display:block;padding-right:55px;position:relative;border:0;color:#4f3c25}
.site-title a:hover .logo i:first-child,.site-title a:focus .logo i:first-child,.site-title a:active .logo i:first-child{width:0}
.site-title a:hover .logo i + i,.site-title a:focus .logo i + i,.site-title a:active .logo i + i{width:25px}
.nav-prime{clear:right;float:right;margin:2.3em -2.4em 0 0;padding:0 2.4em 0 0;position:relative;background-color:#c86f4d;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(174,97,67,0.90)), color-stop(0.3, #c86f4d));background-image:-moz-linear-gradient(right, rgba(174,97,67,0.90) 0%, #c86f4d 30%);background-image:-ms-linear-gradient(right, rgba(174,97,67,0.90) 0%, #c86f4d 30%);background-image:-o-linear-gradient(right, rgba(174,97,67,0.90) 0%, #c86f4d 30%);background-image:-webkit-linear-gradient(right, rgba(174,97,67,0.90) 0%, #c86f4d 30%);background-image:linear-gradient(right, rgba(174,97,67,0.90) 0%, #c86f4d 30%);-moz-box-shadow:0 15px 20px -20px rgba(0,0,0,0.30);-ms-box-shadow:0 15px 20px -20px rgba(0,0,0,0.30);-o-box-shadow:0 15px 20px -20px rgba(0,0,0,0.30);-webkit-box-shadow:0 15px 20px -20px rgba(0,0,0,0.30);box-shadow:0 15px 20px -20px rgba(0,0,0,0.30);text-align:right;vertical-align:top;}
.nav-prime ul{margin:0;padding-right:55px}
.nav-prime li{display:inline-block;margin:0;padding:.1em .75em 0;position:relative;z-index:100;border-right:1px solid #ae6143;font-size:1.125em;text-align:center;vertical-align:top}
.nav-prime li:first-child{margin-left:0}
.nav-prime li:last-child{padding-right:0;border-right:0}
.nav-prime li:before{content:""}
.nav-prime a,.nav-prime a:link,.nav-prime a:visited{display:inline-block;border:0;color:#dbd3cc;font-weight:600}
.nav-prime a:hover,.nav-prime a:focus,.nav-prime a:active{color:#fff}
.nav-prime li ul{padding:0;}
.nav-prime li ul li{margin:0 0 0 .4em;padding:0 0 0 .1em;border:0;font-size:.75em;}
.nav-prime li ul li a,.nav-prime li ul li a:link,.nav-prime li ul li a:visited{font-weight:300}
.nav-prime li ul li a.current:link{border-bottom:1px solid #dbd3cc}
.nav-prime li ul li:before{content:"·";color:#dbd3cc}
.nav-prime li ul li:first-child{margin:0;padding:0}
.nav-prime li ul li:first-child:before{content:""}
.nav-prime:before,.nav-prime > ul:before{content:"";left:-1.8em;position:absolute;top:0;z-index:1;border:1.8em solid transparent;border-top-color:#c86f4d}
.nav-prime > ul:before{bottom:0;top:auto;border-top-color:transparent;border-bottom-color:#c86f4d}
.intro{padding-bottom:0;padding-top:2.3em;line-height:1.6}
.my-why{max-width:25em;font-size:1.875em}
.col{float:right;width:43%}
.col:first-child{float:left;padding-left:0}
.main{position:relative;z-index:25;-moz-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-ms-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-o-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);-webkit-box-shadow:0 35px 40px -40px rgba(0,0,0,0.06);box-shadow:0 35px 40px -40px rgba(0,0,0,0.06)}
.mod-title{margin:-1.7em 0 0;padding:0;position:absolute;font-size:3em;font-weight:600}
.mod-why{margin-top:-.2em;font-size:1.25em;line-height:1.6}
.mod-nohead{margin:0;padding:0;font-size:1.125em;line-height:1.37;}
.mod-nohead em{display:block;font-style:normal}
#professor{z-index:20;background:transparent url("../img/pattern-90-lt.png") repeat left top}
#developer{z-index:15;background:transparent url("../img/pattern-90-rt.png") repeat left top}
#writer{z-index:10;background:transparent url("../img/pattern-slant-lt.png") repeat left top}
.testimonial{margin:0 0 1.5em;padding:0;position:relative}
.testimonial:before{content:"“";left:-.2em;position:absolute;top:-.2em;z-index:1;color:#c1bdb7;font-size:3em;line-height:1}
.testimonial p{margin:0;padding:0;position:relative;z-index:5;font-style:italic}
.testimonial p:after{content:"“";left:-.2em;position:absolute;top:-.2em;z-index:1;color:#c1bdb7;font-size:3em;line-height:1;bottom:-.4em;content:"”";left:auto;right:.1em;top:auto}
.testimonial-author{display:block;margin:0;font-style:normal;text-align:right}
.testimonial-controls{margin:0;padding:0;font-size:.875em;line-height:1.9;list-style-type:none;text-align:center;text-transform:uppercase}
.testimonial-controls li{display:inline-block;padding:0}
.testimonial-controls li:before{content:""}
.testimonial-controls li:first-child:after{content:"•";display:inline-block;padding:0 .5em 0 .7em;color:#9b9691}
.testimonial-controls a,.testimonial-controls a:link,.testimonial-controls a:visited{border:0}
.hatom{margin:0 0 1.5em;padding:0;}
.hatom dt{font-weight:400}
.hatom dd{margin:0 0 1.5em;padding:0}
.book-info{text-align:center}
.book-feature{margin-top:-2.9em}
.book,.book:link,.book:visited{display:block;margin-bottom:1.5em;width:100%;border:0}
.book-title{margin:0 0 1.4em;padding:0;font-size:1.125em;line-height:1.37}
.book-cover{display:block;margin:0 auto;width:70%;border:1px solid #c1bdb7;-moz-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-ms-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-o-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-webkit-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);box-shadow:0 15px 20px -20px rgba(0,0,0,0.50)}
.book-desc{display:block;margin-top:1.5em;color:#41403d}
.project{display:block;margin:1.5em 0;border:0;text-align:center}
.project:before{content:""}
.project-img{display:block;margin:0 0 .75em;width:100%;border:1px solid #c1bdb7;-moz-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-ms-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-o-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);-webkit-box-shadow:0 15px 20px -20px rgba(0,0,0,0.50);box-shadow:0 15px 20px -20px rgba(0,0,0,0.50)}
[role="contentinfo"]{padding:1.8em 2.5% 1.8em;background:#beb4aa url("../img/pattern-slant-dark-rt.png") repeat left top;color:#948778;font-size:.75em;text-align:center}
.copyright{margin:1.5em 0 0;padding:0;position:relative}
.contact{margin:0;padding:0;}
.contact li{display:inline-block;margin-right:1em}
.contact li:before{left:-.75em}
.contact li:first-child:before{content:""}
.top,.top:link,.top:visited{display:block;height:32px;margin:1.5em auto 0;overflow:hidden;width:17px;background:transparent url("../img/rocket.png") no-repeat left -48px;border:0;-moz-transition:none;-ms-transition:none;-o-transition:none;-webkit-transition:none;transition:none;text-indent:-999em}
.top:hover,.top:focus,.top:active{background-position:-17px -48px}
.rocketeer{bottom:10px;height:64px;display:none;opacity:0;overflow:hidden;position:fixed;width:17px;z-index:1000;}
.rocketeer b,.rocketeer i{height:32px;left:0;position:absolute;top:0;width:17px;background:transparent url("../img/rocket.png") no-repeat -17px -48px}
.rocketeer i{top:32px;background-position:0 -80px;-moz-animation:smoke 350ms linear infinite;-ms-animation:smoke 350ms linear infinite;-o-animation:smoke 350ms linear infinite;-webkit-animation:smoke 350ms linear infinite;animation:smoke 350ms linear infinite}
.rocketeer-go{display:block;-moz-animation:rocket 650ms linear;-ms-animation:rocket 650ms linear;-o-animation:rocket 650ms linear;-webkit-animation:rocket 650ms linear;animation:rocket 650ms linear}
@media all and (min-width: 800px){.copyright{float:right;margin:0;padding:0 38px 0 0}
.contact{float:left}
.top,.top:link,.top:visited{margin:0;position:absolute;right:0;top:-7px}
}@-moz-keyframes smoke{0%{background-position:0 -80px}
24.9%{background-position:0 -80px}
25%{background-position:-17px -80px}
49.9%{background-position:-17px -80px}
50%{background-position:-34px -80px}
74.9%{background-position:-34px -80px}
75%{background-position:-51px -80px}
99.9%{background-position:-51px -80px}
}@-webkit-keyframes smoke{0%{background-position:0 -80px}
24.9%{background-position:0 -80px}
25%{background-position:-17px -80px}
49.9%{background-position:-17px -80px}
50%{background-position:-34px -80px}
74.9%{background-position:-34px -80px}
75%{background-position:-51px -80px}
99.9%{background-position:-51px -80px}
}@-o-keyframes smoke{0%{background-position:0 -80px}
24.9%{background-position:0 -80px}
25%{background-position:-17px -80px}
49.9%{background-position:-17px -80px}
50%{background-position:-34px -80px}
74.9%{background-position:-34px -80px}
75%{background-position:-51px -80px}
99.9%{background-position:-51px -80px}
}@-ms-keyframes smoke{0%{background-position:0 -80px}
24.9%{background-position:0 -80px}
25%{background-position:-17px -80px}
49.9%{background-position:-17px -80px}
50%{background-position:-34px -80px}
74.9%{background-position:-34px -80px}
75%{background-position:-51px -80px}
99.9%{background-position:-51px -80px}
}@keyframes smoke{0%{background-position:0 -80px}
24.9%{background-position:0 -80px}
25%{background-position:-17px -80px}
49.9%{background-position:-17px -80px}
50%{background-position:-34px -80px}
74.9%{background-position:-34px -80px}
75%{background-position:-51px -80px}
99.9%{background-position:-51px -80px}
}@-moz-keyframes rocket{0%{bottom:10px;opacity:0;}
5%{opacity:1;}
25%{bottom:30px}
50%{bottom:100px}
75%{bottom:200px;opacity:1;}
100%{bottom:350px;opacity:0;}
}@-webkit-keyframes rocket{0%{bottom:10px;opacity:0;}
5%{opacity:1;}
25%{bottom:30px}
50%{bottom:100px}
75%{bottom:200px;opacity:1;}
100%{bottom:350px;opacity:0;}
}@-o-keyframes rocket{0%{bottom:10px;opacity:0;}
5%{opacity:1;}
25%{bottom:30px}
50%{bottom:100px}
75%{bottom:200px;opacity:1;}
100%{bottom:350px;opacity:0;}
}@-ms-keyframes rocket{0%{bottom:10px;opacity:0;}
5%{opacity:1;}
25%{bottom:30px}
50%{bottom:100px}
75%{bottom:200px;opacity:1;}
100%{bottom:350px;opacity:0;}
}@keyframes rocket{0%{bottom:10px;opacity:0;}
5%{opacity:1;}
25%{bottom:30px}
50%{bottom:100px}
75%{bottom:200px;opacity:1;}
100%{bottom:350px;opacity:0;}
}