<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,600" rel="stylesheet">
<script src="{{"static"|env}}/modernizr.custom.min.js"></script>
<link rel="author" href="https://plus.google.com/112719250789350308611">
<link rel="openid.server" href="http://www.myopenid.com/server/">
<link rel="openid.delegate" href="http://thomasjbradley.myopenid.com/">
<link rel="alternate" href="http://thomasjbradley.ca/articles.xml" type="application/rss+xml" title="Articles &amp; Essays">
<meta name="author" content="Thomas J Bradley">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
{% if page.desc %}<meta name="description" content="{{page.desc|escape}}">{% endif %}
