<table class="reference" summary="List of phones, OSes, prices and where they were purchased.">
  <thead>
    <tr>
      <th scope="col">OS</th>
      <th scope="col">Browser(s)</th>
      <th scope="col">Device</th>
      <th scope="col">Purchase Location</th>
      <th scope="col">Price (Rounded Up)</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="grand-total">
      <th scope="row" colspan="4">Grand Total:</th>
      <td>$1811</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>iOS 3</td>
      <td>Webkit/528.18</td>
      <td><a href="http://support.apple.com/kb/SP570" rel="external">iPod Touch (3rd Gen.)</a></td>
      <td><a href="http://apple.ca">apple.ca</a></td>
      <td>$191</td>
    </tr>
    <tr>
      <td>iOS 4</td>
      <td>Webkit/533.17</td>
      <td><a href="http://www.apple.com/iphone/iphone-3gs/specs.html" rel="external">iPhone 3GS</a></td>
      <td>(already own)</td>
      <td>—</td>
    </tr>
    <tr>
      <td>iOS 4</td>
      <td>Webkit/533.17</td>
      <td><a href="http://www.apple.com/ipad/specs/" rel="external">iPad</a></td>
      <td>(already own)</td>
      <td>—</td>
    </tr>
    <tr>
      <td>Android 1.6</td>
      <td>Webkit/528.5+</td>
      <td><a href="http://www.htc.com/us/products/t-mobile-mytouch-3g" rel="external">HTC myTouch (Magic)</a></td>
      <td><a href="http://ebay.ca" rel="external">ebay.ca</a></td>
      <td><strong>$163</strong></td>
    </tr>
    <tr>
      <td>Android 2.1</td>
      <td>Webkit/530.17, Firefox Mobile</td>
      <td><a href="http://www.sonyericsson.com/cws/corporate/products/phoneportfolio/specification/xperiax10" rel="external">Sony Ericsson Xperia X10</a></td>
      <td><a href="http://ebay.ca" rel="external">ebay.ca</a></td>
      <td><strong>$332</strong></td>
    </tr>
    <tr>
      <td>WebOS 1</td>
      <td>Webkit/532.2</td>
      <td><a href="http://www.palm.com/us/products/phones/pre/#tab2" rel="external">Palm Pre</a></td>
      <td><a href="http://ottawa.kijiji.ca" rel="external">ottawa.kijiji.ca</a></td>
      <td><strong>$120</strong></td>
    </tr>
    <tr>
      <td>BlackBerry OS 4</td>
      <td>BlackBerry Browser</td>
      <td><a href="http://us.blackberry.com/smartphones/blackberrycurve8300/curve_specifications.jsp" rel="external">BlackBerry Curve 8320</a></td>
      <td><a href="http://factorydirect.ca" rel="external">factorydirect.ca</a></td>
      <td><strong>$170</strong></td>
    </tr>
    <tr>
      <td>BlackBerry OS 5</td>
      <td>BlackBerry Browser</td>
      <td><a href="http://us.blackberry.com/smartphones/blackberrycurve8500/curve_specifications.jsp" rel="external">BlackBerry Curve 8520</a></td>
      <td><a href="http://factorydirect.ca" rel="external">factorydirect.ca</a></td>
      <td><strong>$283</strong></td>
    </tr>
    <tr>
      <td>Windows Mobile 6.5</td>
      <td>IE 6</td>
      <td><a href="http://www.htc.com/www/product/snap/specification.html" rel="external">HTC Snap</a></td>
      <td><a href="http://mobilicity.ca" rel="external">mobilicity.ca</a></td>
      <td><strong>$113</strong></td>
    </tr>
    <tr>
      <td>Symbian S40 6th</td>
      <td>Webkit/525</td>
      <td><a href="http://www.forum.nokia.com/Devices/Device_specifications/C3-00/" rel="external">Nokia C3-00</a></td>
      <td><a href="http://chatrwireless.ca" rel="external">chatrwireless.ca</a></td>
      <td><strong>$114</strong></td>
    </tr>
    <tr>
      <td>Symbian S60 3rd</td>
      <td>Webkit/413</td>
      <td><a href="http://www.forum.nokia.com/Devices/Device_specifications/N95-3_NAM/" rel="external">Nokia N95-3</a></td>
      <td><a href="http://ottawa.kijiji.ca" rel="external">ottawa.kijiji.ca</a></td>
      <td><strong>$125</strong></td>
    </tr>
    <tr>
      <td>Symbian S60 5th</td>
      <td>Webkit/420+</td>
      <td><a href="http://www.forum.nokia.com/Devices/Device_specifications/5800_XpressMusic/" rel="external">Nokia 5800 XpressMusic</a></td>
      <td><a href="http://ottawa.kijiji.ca" rel="external">ottawa.kijiji.ca</a></td>
      <td><strong>$200</strong></td>
    </tr>
  </tbody>
</table>
