<div class="testimonials-list">
  <blockquote class="testimonial testimonial-current">
    <p>Thomas was a wonderful mentor during my study of web development. He has aided me in a lot of the daily challenges that I faced as a beginner developer. He also demonstrated a great skill in advising people in the right direction when problem-solving. I would highly recommend Thomas Bradley.</p>
    <cite class="testimonial-author">— <a href="http://aluqman.com/" rel="external met">Amal Luqman, Former Student</a></cite>
  </blockquote>
  <blockquote class="testimonial">
    <p>Thomas has an incredible wealth of knowledge which he shares with enthusiasm and excitement. His lessons were extremely relevant to the industry and I reference them often. Thomas is an amazing professor and I would highly recommend him.</p>
    <cite class="testimonial-author">— <a href="http://www.darcyaubin.ca/" rel="external met">Darcy Aubin, Former Student</a></cite>
  </blockquote>
  <blockquote class="testimonial">
    <p>An invaluable professor at Algonquin College, Thomas consistently exceeds the expectations of his students. His endless passion for web development is not only contagious, but incredibly motivating. In an ever evolving industry, he does a phenomenal job of modifying his lessons each term to ensure students are learning the very latest web technologies. Without a doubt I highly recommend Thomas.</p>
    <cite class="testimonial-author">— <a href="http://wendywarren.ca/" rel="external met">Wendy Warren, Former Student</a></cite>
  </blockquote>
  <blockquote class="testimonial">
    <p>I have never met a better or caring teacher. He is knowledgeable and extremely patient with his students. Mr. Bradley spares no effort to find a way to transfer his knowledge to students wanting to learn. Algonquin is fortunate to have such an instructor.</p>
    <cite class="testimonial-author">— Mary Sarsfield, Former Student</cite>
  </blockquote>
  <blockquote class="testimonial">
    <p>Thomas could be described as a 24-hour support centre, or so that is how he must have felt at times. Whether it is through Twitter, e-mail or in real life, Thomas is always willing to offer his advice and knowledge with any assignments or projects for his students. Now, I am not asking anyone to give him a phone call at 2:00AM in the morning, but you know what I mean. I have come to Thomas with lists of bugs I accumulated in between classes that were answered efficiently and in a welcoming manner. Both his advice and teaching techniques are greatly appreciated, thank you for your understanding, honesty, open mind and passion for what you do, you are a great motivator and mentor!</p>
    <cite class="testimonial-author">— <a href="http://www.trishajessica.ca/" rel="external met">Trish Dupelle, Former Student</a></cite>
  </blockquote>
</div>
