<table class="reference">
  <col class="method">
  <col class="arguments">
  <col class="return">
  <col class="description">
  <thead>
    <tr>
      <th scope="col">Method</th>
      <th scope="col">Arguments</th>
      <th scope="col">Return</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>sigJsonToImage(<br><var>$json</var>, <var>$options</var>)</code></td>
      <td class="arguments">
        <code><var>$json</var>:<i>json|string</i></code><p>String or decoded JSON representing the signature output</p>
        <code><var>$options</var>:<b>array</b></code><p>Array of properties to change the default options</p>
      </td>
      <td class="return"><code><i>image resource</i></code></td>
      <td><p>Redraws the signature as a GD Library image resource</td>
    </tr>
  </tbody>
</table>
