<table class="reference alternate">
  <col class="name">
  <col class="type">
  <col class="value">
  <col class="description">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default Value</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="name"><code><span class="s">imageSize</span></code></td>
      <td class="type"><code><b>array</b></code><p>width, height</p></td>
      <td class="value"><code><b>array</b>(<span class="o">198</span>, <span class="o">55</span>)</code></td>
      <td><p>Determines the final output size of the image</p></td>
    </tr>
    <tr>
      <td class="name"><code><span class="s">bgColour</span></code></td>
      <td class="type">
        <code><b>array</b></code>
        <p>hex red, hex green, hex blue</p>
        <code><b>string</b></code>
        <p>transparent</p>
      </td>
      <td class="value"><code><b>array</b>(<span class="o">0xff</span>, <span class="o">0xff</span>, <span class="o">0xff</span>)</code></td>
      <td>
        <p>The colour fill for the background of the image</p>
        <p>Transparency:<br><code><b>array</b>(<span class="s">'bgColour'</span> =&gt; <span class="s">'transparent'</span>)</code></p>
      </td>
    </tr>
    <tr>
      <td class="name"><code><span class="s">penWidth</span></code></td>
      <td class="type"><code><i>int</i></code></td>
      <td class="value"><code><span class="o">2</span></code></td>
      <td><p>Thickness, in pixels, of the drawing pen</p></td>
    </tr>
    <tr>
      <td class="name"><code><span class="s">penColour</span></code></td>
      <td class="type"><code><b>array</b></code><p>hex red, hex green, hex blue</td>
      <td class="value"><code><b>array</b>(<span class="o">0x14</span>, <span class="o">0x53</span>, <span class="o">0x94</span>)</code></td>
      <td><p>Colour of the drawing ink</p></td>
    </tr>
    <tr>
      <td class="name"><code><span class="s">drawMultiplier</span></code></td>
      <td class="type"><code><i>int</i></code></td>
      <td class="value"><code><span class="o">12</span></code></td>
      <td><p>The signature is enlarged by this factor before being redrawn to maintain a smooth finish. <em>Reduce this only if you are having memory issues.</em></p></td>
    </tr>
  </tbody>
</table>
