<dl>
  <dt>PHP to SVG</dt>
  <dd><a href="https://github.com/chaz-meister/sigToSvg/" rel="external">sigToSvg</a> by <a href="http://www.pointsystems.com/" rel="external">Charles Gebhard</a> is a script for converting the signature JSON to SVG using PHP. Check out the amazing <a href="https://github.com/chaz-meister/sigToSvg/" rel="external">sigToSvg on GitHub</a>.</dd>

  <dt>Python to PNG</dt>
  <dd><a href="https://github.com/videntity/python-signpad2image" rel="external">python-signpad2image</a> by <a href="http://videntity.com" rel="external">Alan Viars</a> is a script for converting the signature JSON to PNG using Python. Check out the fantastico <a href="https://github.com/videntity/python-signpad2image" rel="external">python-signpad2image on GitHub</a>.</dd>

  <dt>C# to JPEG, PNG or GIF</dt>
  <dd><a href="https://github.com/parrots/SignatureToImageDotNet" rel="external">SignatureToDotNet</a> by <a href="http://www.consumedbycode.com" rel="external">Curtis Herbert</a> is a script for converting the signature JSON to an image using C#. Check out the awesome <a href="https://github.com/parrots/SignatureToImageDotNet" rel="external">SignatureToDotNet project on GitHub</a>.</dd>

  <dt>Perl to PNG</dt>
  <dd><a href="http://search.cpan.org/~turnerjw/JSON-signature-to-image-1.0/signature-to-image.pl" rel="external">signature-to-image.pl</a> by <a href="http://home.mesh.net/turnerjw/jim/" rel="external">Jim Turner</a> is a script for converting the signature JSON to a PNG using Perl. Check out the fabulous <a href="http://search.cpan.org/~turnerjw/JSON-signature-to-image-1.0/signature-to-image.pl" rel="external">signature-to-image.pl on CPAN</a>.</dd>

  <dt>ColdFusion to PNG</dt>
  <dd><a href="http://www.cflib.org/udf/sigJsonToImage" rel="external">sigJsonToImage</a> by <a href="http://www.ssmedia.com/" rel="external">James Moberg</a> is a script for converting the signature JSON to an PNG using ColdFusion. Check out the super-duper <a href="http://www.cflib.org/udf/sigJsonToImage" rel="external">sigJsonToImage project on CFLib.org</a>.</dd>
</dl>
