.mental-nums li
  display inline
  float left
  padding 0 0.1em

  font-size 4.5em
  font-weight bold

.mental-nums li:before
  content ""

.grand-total
  color text-medium-medium
  font-size 1.5em
  font-weight bold

.grand-total th
  padding-right 1em

  text-align right

.grand-total th
.grand-total td
  border-top 4px double site-bg-dark
