pre
code
  margin 0
  padding 0

  color #333
  font normal 1em/1.375 Menlo,Monaco,Consolas,"Courier New",monospace

code a
code a:link
code a:visited
  border-bottom 0.1em dotted #999
  text-decoration none

.highlight
  display block
  margin 0 -0.6% 1.5em -0.6em
  overflow-x auto
  padding 0.5em 0.6em

  background site-bg-dark url("{{'img'|env}}/pattern-slant-dark-rt.png") repeat left top
  -moz-border-radius 4px
  -webkit-border-radius 4px
  border-radius 4px

  & pre
    white-space pre
    word-wrap normal

.highlight-webkit-scrollbar
  height 8px
  width 8px

.highlight-webkit-scrollbar-track-piece
  margin-bottom 10px

  background-color rgba(#6c635a, 0.3)
  -moz-border-radius 4px
  -webkit-border-radius 4px
  border-radius 4px

.highlight-webkit-scrollbar-thumbvertical
  height 25px

  background-color #6c635a
  -moz-border-radius 4px
  -webkit-border-radius 4px
  border-radius 4px

.highlight-webkit-scrollbar-thumbhorizontal
  width 25px

  background-color #6c635a
  -moz-border-radius 4px
  -webkit-border-radius 4px
  border-radius 4px

.php .cp
  display block
  margin-top -2.75em
  visibility hidden

/* Comment */
/* Comment.Multiline */
/* Comment.Single */
/* Comment.Special */
.highlight .c
.highlight .cm
.highlight .c1
.highlight .cs
code .comment
code small
  color #7a7a7a

/* Keyword */
/* Generic.Prompt */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Name.Builtin */
/* Name.Tag */
/* Literal.String.Other */
/* Name.Builtin.Pseudo */
.highlight .k
.highlight .gp
.highlight .kc
.highlight .kd
.highlight .kn
.highlight .kp
.highlight .kr
.highlight .nb
.highlight .nt
.highlight .sx
.highlight .bp
code b
  color #796b49
  font-weight bold

/* Operator */
/* Literal.Number.Hex */
/* Literal.Number */
/* Literal.Number.Float */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.Number.Integer.Long */
.highlight .o
.highlight .mh
.highlight .m
.highlight .mf
.highlight .mi
.highlight .mo
.highlight .il
code .o
  color #666

/* Comment.Preproc */
.highlight .cp
  color #bc7a00

/* Literal.String */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Heredoc */
/* Literal.String.Single */
.highlight .s
.highlight .sb
.highlight .sc
.highlight .sd
.highlight .s2
.highlight .sh
.highlight .s1
code .s
  color #d7771d

/* Literal.String.Doc */
.highlight .sd
  font-style italic

/* Name.Variable */
/* Literal.String.Symbol */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
.highlight .nv
.highlight .ss
.highlight .vc
.highlight .vg
.highlight .vi
code var
  color #ae5a2d

/* Literal.String.Interpol */
/* Literal.String.Regex */
.highlight .si
.highlight .sr
  color #bb6688
  font-weight bold

/* Literal.String.Regex */
.highlight .sr
  font-weight normal

/* Name.Class */
/* Name.Function */
/* Name.Namespace */
.highlight .nc
.highlight .nf
.highlight .nn
  color #00f
  font-weight bold

/* Name.Function */
.highlight .nf
  font-weight normal

/* Error */
.highlight .err
  border 1px solid #f00

/* Generic.Deleted */
.highlight .gd
  color #a00000

/* Generic.Emph */
.highlight .ge
  font-style italic

/* Generic.Error */
.highlight .gr
  color #f00

/* Generic.Heading */
.highlight .gh
  color #000080
  font-weight bold

/* Generic.Inserted */
.highlight .gi
  color #00a000

/* Generic.Output */
.highlight .go
  color #808080

/* Generic.Strong */
.highlight .gs
  font-weight bold

/* Generic.Subheading */
.highlight .gu
  color #800080
  font-weight bold

/* Generic.Traceback */
.highlight .gt
  color #0040d0

/* Keyword.Type */
.highlight .kt
  color #b00040

/* Name.Attribute */
.highlight .na
  color #7d9029

/* Name.Constant */
.highlight .no
  color #880000

/* Name.Decorator */
.highlight .nd
/* Operator.Word */
.highlight .ow
  color #a2f

/* Operator.Word */
.highlight .ow
  font-weight bold

/* Name.Entity */
.highlight .ni
  color #999
  font-weight bold

/* Name.Exception */
.highlight .ne
  color #d2413a
  font-weight bold

/* Name.Label */
.highlight .nl
  color #a0a000

/* Text.Whitespace */
.highlight .w
  color #bbb

/* Literal.String.Escape */
.highlight .se
  color #b62
  font-weight bold

@media all and (min-width: 700px)

  .highlight
    margin-right -18.8%

@media all and (min-width: 1150px)

  .highlight
    margin-right -54.6%
