html
  background site-bg-dark url("{{'img'|env}}/pattern-slant-dark-rt.png") repeat left top

[role="main"]
  margin 50px auto
  max-width 35em
  padding 1.5em 2% 2em
  position relative

  background site-bg url("{{'img'|env}}/pattern-45-lt.png") repeat left top
  box-shadow 0 35px 40px -40px rgba(0,0,0,0.4)

.site-title
  right 1em
  position absolute
  top 1em

  & span
    position absolute
    top -999em

h1
  font-size 2em

h2
  font-size 1.75em

h3
  font-size 1.5em

h4
  font-size 1.25em
