col-padding = 1.25%
col-num = 8
space = 100% - (col-padding * 2)
col-width = (space / col-num) - (col-padding * 2)

col(span)
  width (col-width * span) + (col-padding * (span + 1))

.grid
  height 100%
  padding-left col-padding
  position fixed
  top 0
  width 100%
  z-index 5000

.g
  float left
  height 100%
  margin 0 col-padding
  width col-width

  box-shadow 0 0 0 1px rgba(0,0,0,0.6)

.module
  padding 0 2.5%
  position relative
  z-index 30

  box-shadow 0 35px 40px -40px rgba(0,0,0,0.06)

.mod-no-sep
  box-shadow none

.unit
.box
  display inline
  float left
  position relative
  width 100%

.unit
  padding-bottom 3.6em
  padding-top 7.5em

.mod-no-sep .unit
  padding-bottom 0

.article
  padding-top 0

.box
  float right

.secondary
  float right
  padding-top 0

.feature
  padding-top 3em

.tertiary
  padding-top 0

@media all and (min-width: 700px)

  .box
    margin-right 0.4%
    width 48.4%

  .box:last-child
    float left
    margin-right 0

  .module-wide .box
    width 100%

  .primary
    width 48.6%

  .secondary
    margin-right 0.4%
    padding-top 7.5em
    width 48.6%

  .tertiary
    clear left

  .module-feature
    padding-left 26.6%

  .module-feature .primary
    width 100%

  .module-feature .secondary
    padding-top 0
    width 100%

  .feature
    left 2.5%
    padding-top 7.5em
    position absolute
    width 20%

  .module-article
    padding-left 14.4%

  .article
    width 83.7%

@media all and (min-width: 1150px)

  .box
  .module-wide .box
    width 48.4%

  .primary
    width 35.7%

  .secondary
    float left
    margin-left 2.5%
    width 23.1%

  .tertiary
    clear none
    float right
    margin-right 0.6%
    padding-top 7.5em
    width 35.9%

  .module-feature
    padding-right 39.4%

  .module-feature .secondary
    margin-left 0
    margin-right -100%
    padding-top 7.5em
    right -6.8%
    width 100%

  .feature
    left auto
    margin-left -106.8%
    position relative
    right 64.5%
    width 64.5%

  .article
    width 55.3%
