@import 'site-title'

[role="banner"]
  margin 0
  padding 0
  z-index 100

  background site-bg-dark url(slantdarkrt) repeat left top

  color button-muted

.masthead
  margin 0 auto

  text-align center

nav
  background-color link-muted
  background-image linear-gradient(right, rgba(link-muted-dark, 0.9), link-muted 30%)
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.3)

  & a
  & a:link
  & a:visited
    display inline-block

    border 0

    color site-bg

  & a:hover
  & a:focus
  & a:active
    color #fff

[role="navigation"]
  margin 1.3em 0 0
  padding 0
  position relative

  vertical-align top
  text-align center

  & a
    font-weight 600

  & ul
    margin 0

  & li
    margin 0
    padding 0.5em
    position relative
    z-index 100

    border-bottom 1px solid link-muted-dark

    font-size 1.125em
    text-align center
    vertical-align top

  & li:first-child
    margin-left 0

  & li:last-child
    padding-right 0

    border-bottom 0

  & li:before
    content ""

  & li ul
    padding 0

    & li
      display inline-block
      margin 0 0 0 0.4em
      padding 0 0 0 0.1em

      border 0

      font-size 0.75em

      & a
      & a:link
      & a:visited
        font-weight 300

    & li.current a
    & li.current a:link
    & li.current a:visited
      border-bottom 1px solid site-bg

    & li:before
      content "·"

      color site-bg

    & li:first-child
      margin 0
      padding 0

    & li:first-child:before
      content ""

  & mark
    background-color transparent

    color inherit

.nav-expander
  display none
  margin 0 auto
  padding 0.5em 0
  position relative
  width 100%
  visibility hidden

  background-color transparent
  border 0
  border-radius 0

  color site-bg
  font-size 1.125em
  font-weight 600
  text-align center

.nav-expander:after
  content ""
  margin-top -0.2em
  position absolute
  right 0.8em
  top 50%
  z-index 1

  border 0.4em solid transparent
  border-top-color site-bg

.is-nav-expanded
  background-color link-muted-dark

.is-nav-expanded:after
  margin-top -0.6em

  border-top-color transparent
  border-bottom-color site-bg

.touch .nav-expander
  display block
  visibility visible

.touch .home .nav-expander
  display none
  visibility hidden

.touch .nav-list
  display none
  visiblity hidden

.touch .home .nav-list
  display block
  visiblity visible

.touch .is-nav-list-expanded
  display block
  visibility visible

.intro
  padding-bottom 0
  padding-top 1.3em

  line-height 1.6

.my-why
  display none
  margin-left auto
  margin-right auto
  max-width 25em
  padding-left 2.5%
  padding-right 2.5%
  visibility hidden

  font-size 1.25em
  text-align center

.home .my-why
  display block
  visibility visible

@media all and (min-width: 500px)

  .site-title
    font-size 2em
    line-height 1.5

  [role="navigation"]
    margin-left 2em
    margin-top 2.3em
    padding 0
    position relative

    & ul
      padding-right 1.8em

    & li
      display inline-block
      padding 0.1em 0.75em 0

      border-bottom 0
      border-right 1px solid link-muted-dark

    & li:last-child
      border-right 0

  [role="navigation"]:before
  [role="navigation"] > ul:before
    content ""
    left -1.8em
    position absolute
    top 0
    z-index 1

    border 1.8em solid transparent
    border-top-color link-muted

  [role="navigation"] > ul:before
    bottom 0
    top auto

    border-top-color transparent
    border-bottom-color link-muted

  .nav-expander
  .touch .nav-expander
  .touch .home .nav-expander
    display none
    visibility hidden

  .touch .nav-list
    display block
    visibility visible

  .intro
    padding-top 2.3em

  .nav-extra-words
    display none

  .my-why
  .home .my-why
    display block
    visibility visible

    font-size 1.875em

@media all and (min-width: 45em)

  .nav-extra-words
    display inline

@media all and (min-width: 1150px)

  .site-title
    float right
    margin-right 6.4%

    text-align right

  [role="navigation"]
    clear right
    float right
    margin-left 0
    padding-left 1em
    padding-right 11.6%

    text-align right

  .nav-extra-words
    display none

  .my-why
    margin-left 5%
    padding 0

    text-align left

@media all and (min-width: 85em)

  .nav-extra-words
    display inline
