[role="banner"]
  margin 0
  padding 0
  z-index 100

  background site-bg-dark url("{{'img'|env}}/pattern-slant-dark-rt.png") repeat left top

  color button-muted

.masthead
  margin 0 auto
  text-align center

.site-title
  display inline-block
  margin 0
  padding 0
  position relative

  font-size 1.5em
  font-weight 600
  line-height 1.8

  & .logo
  & .logo i:first-child
  & .logo i + i
    height 47px
    position absolute
    right 0
    width 25px

  & .logo i:first-child
  & .logo i + i
    left 0

    background transparent url("{{'img'|env}}/rocket.png") no-repeat left top
    transition all 150ms linear 10ms

  & .logo i + i
    left auto
    right 0
    width 0

    background-position right top
    transition all 150ms linear

  & a
  & a:link
  & a:visited
    display block
    padding-right 55px
    position relative

    border 0

    color button-muted

  & a:hover .logo i:first-child
  & a:focus .logo i:first-child
  & a:active .logo i:first-child
    width 0

  & a:hover .logo i + i
  & a:focus .logo i + i
  & a:active .logo i + i
    width 25px

.nav-prime
  margin 2.3em 0 0
  padding 0
  position relative

  background-color link-muted
  background-image linear-gradient(right, rgba(link-muted-dark, 0.9), link-muted 30%)
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.3)

  vertical-align top
  text-align center

  & ul
    margin 0

  & li
    margin 0
    padding 0.5em
    position relative
    z-index 100

    border-bottom 1px solid link-muted-dark

    font-size 1.125em
    text-align center
    vertical-align top

  & li:first-child
    margin-left 0

  & li:last-child
    padding-right 0

    border-bottom 0

  & li:before
    content ""

  & a
  & a:link
  & a:visited
    display inline-block

    border 0

    color site-bg
    font-weight 600

  & a:hover
  & a:focus
  & a:active
    color #fff

  & li ul
    padding 0

    & li
      display inline-block
      margin 0 0 0 0.4em
      padding 0 0 0 0.1em

      border 0

      font-size 0.75em

      & a
      & a:link
      & a:visited
        font-weight 300

    & li.current a
    & li.current a:link
    & li.current a:visited
      border-bottom 1px solid site-bg

    & li:before
      content "·"

      color site-bg

    & li:first-child
      margin 0
      padding 0

    & li:first-child:before
      content ""

  & mark
    background-color transparent

    color inherit

.intro
  padding-bottom 0
  padding-top 2.3em

  line-height 1.6

.my-why
  margin-left auto
  margin-right auto
  padding-left 2.5%
  padding-right 2.5%
  max-width 25em

  font-size 1.25em
  text-align center

@media all and (min-width: 500px)

  .site-title
    font-size 2em
    line-height 1.5

  .nav-prime
    margin-left 2em
    padding 0
    position relative

    & ul
      padding-right 1.8em

    & li
      display inline-block
      padding 0.1em 0.75em 0

      border-bottom 0
      border-right 1px solid link-muted-dark

    & li:last-child
      border-right 0

  .nav-prime:before
  .nav-prime > ul:before
    content ""
    left -1.8em
    position absolute
    top 0
    z-index 1

    border 1.8em solid transparent
    border-top-color link-muted

  .nav-prime > ul:before
    bottom 0
    top auto

    border-top-color transparent
    border-bottom-color link-muted

  .my-why
    font-size 1.875em

@media all and (min-width: 1150px)

  .site-title
    float right
    margin-right 6.4%

    text-align right

  .nav-prime
    clear right
    float right
    margin-left 0
    padding-left 1em
    padding-right 11.6%

    text-align right

  .my-why
    margin-left 5%
    padding 0

    text-align left
