.more-text
  left -999em
  position absolute

.main
  position relative
  z-index 25
  box-shadow 0 35px 40px -40px rgba(0,0,0,0.06)

.mod-group-head
  padding 1.5em 2.5% 1.9em 2.5%
  position relative
  z-index 40

  box-shadow 0 35px 40px -40px rgba(0,0,0,0.06)

.mod-group-head-joined
  box-shadow none

.mod-article-head
  box-shadow none

.mod-main-head
  z-index 50

.mod-title
  margin -1.7em 0 0
  padding 0
  position absolute

  color text-dark
  font-size 3em
  font-weight 600

.mod-subtitle
  font-size 2.5em

.mod-group-title
  margin-bottom 0
  max-width 40em

.mod-why
  margin-top -0.2em

  font-size 1.25em
  line-height 1.6

.mod-nohead
  margin 0
  padding 0

  color text-dark
  font-size 1.125em
  line-height 1.37

  & em
    display block

    font-style normal

.lt45
  background transparent url("{{'img'|env}}/pattern-45-lt.png") repeat left top

.rt45
  background transparent url("{{'img'|env}}/pattern-45-rt.png") repeat left top

.slantlt
  background transparent url("{{'img'|env}}/pattern-slant-lt.png") repeat left top

.slantrt
  background transparent url("{{'img'|env}}/pattern-slant-rt.png") repeat left top

#professor
#websites-webapps
  z-index 20

#developer
  z-index 15

#writer
  z-index 10

.testimonials
.testimonials-list
  position relative

.testimonials-surrounded
  margin-bottom 1.5em

.testimonial
  display none
  margin 0 0 1.5em
  opacity 0
  padding 0
  position relative
  width auto

  border 0
  transition opacity 250ms linear

.testimonials-go .testimonial
  left 0
  height 100%
  position absolute
  top 0
  width 100%
  z-index 10

.testimonial-current
.testimonials-go .testimonial-current
  display block
  opacity 1
  z-index 11

.testimonial-spacer
.testimonials-go .testimonial-spacer
  position relative
  visibility hidden
  z-index 1

.testimonial:before
  open-quote()

.testimonial p
    margin 0
    padding 0
    position relative
    z-index 15

    font-style italic

.testimonial p:after
  open-quote()
  bottom -0.4em
  content "”"
  left auto
  right 0.1em
  top auto
  z-index -1

.testimonial-controls
  margin 0
  padding 0
  position relative
  z-index 1000

  font-size 0.875em
  line-height 1.9
  list-style-type none
  text-align center
  text-transform uppercase

.testimonial-controls li
  display inline-block
  padding 0

.testimonial-controls li:before
  content ""

.testimonial-controls li:first-child:after
  content "•"
  display inline-block
  padding 0 0.5em 0 0.7em

  color text-medium

.hfeed
  margin 0 0 1.5em
  max-width 45em
  padding 0

  list-style-type none

  & .hentry
    margin 0 0 1.5em
    padding 0

  & .entry-title
    margin 0
    padding 0

    font-size 1em
    font-weight 400

.book-info
  text-align center

.book-feature
  margin-top -2.9em

.book
.book:link,
.book:visited
  display block
  margin-bottom 1.5em
  width 100%

  border 0

.book-title
  margin 0 0 1.4em
  padding 0

  color text-dark
  font-size 1.125em
  line-height 1.37

.book-cover
  display block
  margin 0 auto
  max-width 150px

  border 1px solid text-light
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.5)

.book-desc
  display block
  margin-top 1.5em

  color text-dark

.col
  clear both

.project
  display inline
  float right
  margin 1.5em 0
  width 48%

  border 0

  text-align center

.project:first-child
  float left

.project:before
  content ""

.project-img
a.lab-img
  display block
  margin 0 0 0.75em
  width 100%

  border 1px solid text-light
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.5)

a.lab-img img
  width 100%

.lab-feature
  float left
  padding-top 0
  width 45%

.module-feature .lab-download
  float right
  width 45%

.files
  margin 0 0 1.375em
  padding 0

  list-style-type none

  & li
    margin 0 0 0.8em 0
    padding 0

  & li:before
    content ""

  & a
  & a:link
  & a:visited
    display block
    margin 0
    min-height 45px
    padding 5px 0 0 38px
    position relative

    border 0

    text-decoration none

  & span
    display block

    color text-medium
    font-size 0.75em
    font-weight normal
    line-height 1em

  & i
    height 44px
    left 0
    position absolute
    width 32px

    background transparent url("{{'img'|env}}/icon-file.png") no-repeat 0 0

  & .vcf i
    background-position -32px 0

  & .gz i
    background-position -64px 0

  & .zip i
    background-position -96px 0

  & .pdf i
    background-position -128px 0

.files-inline
  margin-bottom 0
  overflow hidden

  text-align center

  & li
    display inline-block
    margin 0 1em 1.5em 0

    text-align left

.apps-list
  margin 0
  padding 4em 0

.app
  margin 0 2.5% 1.5em

  & a
  & a:link
  & a:visited
    border 0

  & a .app-desc
  & a:link .app-desc
  & a:visited .app-desc
    display block

    color text-dark

  & a .app-title
  & a:link .app-title
  & a:visited .app-title
    display inline-block

    border-bottom 0.1em solid rgba(link-normal,0.2)
    transition all 150ms linear

    color link-normal

  & a:hover .app-title
  & a:focus .app-title
  & a:active .app-title
    border-color link-bright

    color link-bright

.app:before
  content ""

.app-title
  margin 0 0 0.3em

  font-size 1.5em

.publish-details
  margin 1.5em 0 0
  padding 1.5em 0 0

  border-top 4px solid site-bg-dark

  color text-medium-dark
  font-size 0.875em
  font-style italic
  text-align center

.feed-icon
.feed-icon:link
.feed-icon:visited
  display inline-block
  height 16px
  margin 0
  overflow hidden
  padding 0
  width 16px

  background transparent url("{{'img'|env}}/feed-icon.png") no-repeat left top
  border 0
  transition none

  text-indent -999em
  vertical-align middle

.feed-icon:hover
.feed-icon:focus
.feed-icon:active
  background-position -18px top

.feed-icon-alt
.feed-icon-alt:link
.feed-icon-alt:visited
  height 32px
  width 32px

  background-position: 0 -18px

.feed-icon-alt:hover
.feed-icon-alt:focus
.feed-icon-alt:active
  background-position -34px -18px

.details-inner
  margin-bottom 1.5em

.details-inside
  padding-top 1.5em

  & :last-child
    margin-bottom 0

.details-multi
  padding-bottom 1.5em

.resp-head
  margin-bottom 0

  font-size 1em

.resp-details
  color text-medium-dark
  font italic normal 1em/1.5 Georgia,serif

.resp-courses
  margin-top -1.5em

.resp-courses:last-child
  margin-bottom 0

.portfolio-menu
  position absolute
  right -999em

@media all and (min-width: 400px)

  .more-text
    left auto
    position static

  .book-cover
    float left
    margin-right 2em
    width 70%

  .book-desc
    text-align left

  .app
    display inline
    float left
    margin-right 0
    width: 45%

  .app:nth-child(3)
    clear left

@media all and (min-width: 600px)

  .col
    clear none
    float right
    width 32%

  .col:first-child
    float left
    padding-left 0

  .project
  .project:first-child
    display block
    float none
    width auto

@media all and (min-width: 700px)

  .mod-group-head
    padding-left 14.4%

  .book-cover
    float none
    margin-right auto

  .book-desc
    text-align center

  .lab-feature
    padding-top 7.5em
    width 20%

  .module-feature .lab-download
    left 2.5%
    position absolute
    top 13em
    width 20%

  .main-download
    margin-left -38px

@media all and (min-width: 900px)

  .app
    width: 21.85%

  .app:nth-child(3)
    clear none

@media all and (min-width: 1150px)

  .col
    clear right
    width 40%

  .book-cover
    max-width 70%

  .lab-feature
    width 64.5%

  .module-feature .lab-download
    left auto
    position relative
    top auto
    width 100%

  .main-download
    left -26%
    margin-left 0
    position absolute
    top -0.3em

  .portfolio-menu
    padding 0.25em 0.5em
    right 0
    top 1em
    z-index 2000

    border-radius 4px 0 0 4px

    & li
      padding 0.25em 1em 0.25em 0.5em

      border-top 1px solid link-muted-dark

    & li:first-child
      border-top 0

    & .current a
    & .current a:link
    & .current a:visited
      color #fff

  [data-state="is-menu-fixed"]
    position fixed
