.more-text
  left -999em
  position absolute

.main
  position relative
  z-index 25
  box-shadow 0 35px 40px -40px rgba(0,0,0,0.06)

.mod-group-head
  padding 1.5em 2.5% 1.9em 2.5%
  position relative
  z-index 40

  box-shadow 0 35px 40px -40px rgba(0,0,0,0.06)

.mod-article-head
  box-shadow none

.mod-main-head
  z-index 50

.mod-title
  margin -1.7em 0 0
  padding 0
  position absolute

  color text-dark
  font-size 3em
  font-weight 600

.mod-subtitle
  font-size 2.5em

.mod-group-title
  margin-bottom 0
  max-width 40em

.mod-why
  margin-top -0.2em

  font-size 1.25em
  line-height 1.6

.mod-nohead
  margin 0
  padding 0

  font-size 1.125em
  line-height 1.37

  & em
    display block

    font-style normal

.lt45
  background transparent url("{{'img'|env}}/pattern-45-lt.png") repeat left top

.rt45
  background transparent url("{{'img'|env}}/pattern-45-rt.png") repeat left top

.slantlt
  background transparent url("{{'img'|env}}/pattern-slant-lt.png") repeat left top

.slantrt
  background transparent url("{{'img'|env}}/pattern-slant-rt.png") repeat left top

#professor
#websites-webapps
  z-index 20

#developer
  z-index 15

#writer
  z-index 10

.testimonials
.testimonials-list
  position relative

.testimonial
  display none
  margin 0 0 1.5em
  opacity 0
  padding 0
  position relative

  transition opacity 250ms linear

.testimonials-go .testimonial
  left 0
  height 100%
  position absolute
  top 0
  width 100%
  z-index 10

.testimonial-current
.testimonials-go .testimonial-current
  display block
  opacity 1
  z-index 11

.testimonial-spacer
.testimonials-go .testimonial-spacer
  position relative
  visibility hidden
  z-index 1

.testimonial:before
  open-quote()

.testimonial p
    margin 0
    padding 0
    position relative
    z-index 15

    font-style italic

.testimonial p:after
  open-quote()
  bottom -0.4em
  content "”"
  left auto
  right 0.1em
  top auto
  z-index -1

.testimonial-author
  display block
  margin 0

  font-style normal
  text-align right

.testimonial-controls
  margin 0
  padding 0

  font-size 0.875em
  line-height 1.9
  list-style-type none
  text-align center
  text-transform uppercase

.testimonial-controls li
  display inline-block
  padding 0

.testimonial-controls li:before
  content ""

.testimonial-controls li:first-child:after
  content "•"
  display inline-block
  padding 0 0.5em 0 0.7em

  color text-medium

.hfeed
  margin 0 0 1.5em
  padding 0

  list-style-type none

.hentry
  margin 0 0 1.5em
  padding 0

.entry-title
  margin 0
  padding 0

  font-size 1em
  font-weight 400

.book-info
  text-align center

.book-feature
  margin-top -2.9em

.book
.book:link,
.book:visited
  display block
  margin-bottom 1.5em
  width 100%

  border 0

.book-title
  margin 0 0 1.4em
  padding 0

  font-size 1.125em
  line-height 1.37

.book-cover
  display block
  margin 0 auto
  max-width 150px
  width 70%

  border 1px solid text-light
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.5)

.book-desc
  display block
  margin-top 1.5em

  color text-dark

.col
  clear both

.project
  display inline
  float right
  margin 1.5em 0
  width 48%

  border 0

  text-align center

.project:first-child
  float left

.project:before
  content ""

.project-img
a.lab-img
  display block
  margin 0 0 0.75em
  width 100%

  border 1px solid text-light
  box-shadow 0 15px 20px -20px rgba(0,0,0,0.5)

a.lab-img img
  width 100%

.lab-feature
  float left
  padding-top 0
  width 45%

.lab-download
  float right
  width 45%

.files
  margin 0 0 1.375em
  padding 0

  list-style-type none

  & li
    margin 0 0 0.8em 0
    padding 0

  & li:before
    content ""

  & a
  & a:link
  & a:visited
    display block
    margin 0
    min-height 45px
    padding 5px 0 0 38px
    position relative

    border 0

    text-decoration none

  & span
    display block

    color text-medium
    font-size 0.75em
    font-weight normal
    line-height 1em

  & i
    height 44px
    left 0
    position absolute
    width 32px

    background transparent url("{{'img'|env}}/icon-file.png") no-repeat 0 0

  & .vcf i
    background-position -32px 0

  & .gz i
    background-position -64px 0

  & .zip i
    background-position -96px 0

.apps-list
  margin 0
  padding 4em 0

.app
  margin 0 2.5% 1.5em

  & a
  & a:link
  & a:visited
    border 0

  & a .app-desc
    display block

    color text-dark

  & a .app-title
  & a:link .app-title
  & a:visited .app-title
    display inline-block

    border-bottom 0.1em solid rgba(link-normal,0.2)
    transition all 150ms linear

  & a:hover .app-title
  & a:focus .app-title
  & a:active .app-title
    border-color link-bright

.app:before
  content ""

.app-title
  margin 0 0 0.3em

  font-size 1.5em

@media all and (min-width: 400px)

  .more-text
    left auto
    position static

  .book-cover
    float left
    margin-right 2em

  .book-desc
    text-align left

  .app
    display inline
    float left
    margin-right 0
    width: 45%

  .app:nth-child(3)
    clear left

@media all and (min-width: 600px)

  .col
    clear none
    float right
    width 32%

  .col:first-child
    float left
    padding-left 0

  .project
  .project:first-child
    display block
    float none
    width auto

@media all and (min-width: 700px)

  .mod-group-head
    padding-left 14.4%

  .book-cover
    float none
    margin-right auto

  .book-desc
    text-align center

  .lab-feature
    padding-top 7.5em
    width 20%

  .lab-download
    left 2.5%
    position absolute
    top 13em
    width 20%

@media all and (min-width: 900px)

  .app
    width: 21.85%

  .app:nth-child(3)
    clear none

@media all and (min-width: 1150px)

  .col
    clear right
    width 40%

  .book-cover
    max-width 70%

  .lab-feature
    width 64.5%

  .lab-download
    left auto
    position relative
    top auto
    width 20%

  .main-download
    left -26%
    position absolute
    top -0.3em
