---
---

@import 'nib'
@import 'normalize'

vendor-prefixes = moz ms o webkit official
support-for-ie = false

site-bg = #dbd3cc
site-bg-dark = #beb4aa
link-bright = #ed4a11
link-normal = #cf410f
link-medium = #b5390d
link-muted = #c86f4d
link-muted-dark = #ae6143
button-muted = #4f3c25
button-muted-light = #948778
text-medium = #9b9691
text-medium-dark = #6c635a
text-medium-medium = #868079
text-light = #c1bdb7
text-dark = #41403d

@import 'general'
@import 'grid'
@import 'header'
@import 'misc'
@import 'code'
@import 'footer'
