---
layout: default
title: Lab
priority: 0.8
changefreq: monthly
---

<header class="module-wrapper slantlt">
  <div class="mod-group-head mod-main-head">
    <h1>Lab Projects</h1>
    <p class="mod-why mod-group-title">Bubbling concoctions overflowing from my beakers.</p>
  </div>
</header>

<section class="module-wrapper lt45">
  <header class="mod-group-head rt45" id="open-source">
    <h2 class="mod-group-title">Open Source</h2>
  </header>

  <article class="module module-feature mod-no-sep clearfix" id="signature-pad">
    <header class="unit primary">
      <h3 class="mod-title mod-subtitle"><a href="/lab/signature-pad">Signature Pad</a></h3>
      <p class="mod-why">A jQuery plugin for assisting in the creation of an HTML5 canvas based signature pad. Records the drawn signature in JSON for later regeneration.</p>
      <ul>
        <li><a href="/lab/signature-pad">Documentation <span title="and">&amp;</span> Tutorials</a></li>
        <li><a href="/lab/signature-pad-accept">Demo of Accepting a Signature</a></li>
        <li><a href="/lab/signature-pad-require-drawn">Demo of Requiring a Drawn Signature</a></li>
        <li><a href="/lab/signature-pad-regenerate">Demo of Regenerating a Signature</a></li>
      </ul>
    </header>
    <div class="unit feature lab-feature">
      <a href="/lab/signature-pad" class="lab-img"><img src="{{'img2'|env}}/signature-pad.jpg" alt=""></a>
    </div>
    <div class="unit secondary lab-download">
      {% include sigpad/download.html %}
    </div>
  </article>

  <article class="module module-feature clearfix" id="signature-to-image">
    <header class="unit primary">
      <h3 class="mod-title mod-subtitle"><a href="/lab/signature-to-image">Sig<span class="more-text">nature</span> to Image</a></h3>
      <p class="mod-why">A supplemental script for Signature Pad that generates an image of the signature’s JSON output server-side using PHP.</p>
      <ul>
        <li><a href="/lab/signature-to-image">Documentation <span title="and">&amp;</span> Tutorials</a></li>
      </ul>
    </header>
    <div class="unit feature lab-feature">
      <a href="/lab/signature-to-image" class="lab-img"><img src="{{'img2'|env}}/signature-pad.jpg" alt=""></a>
    </div>
    <div class="unit secondary lab-download">
      {% include sigimg/download.html %}
    </div>
  </article>
</section>

<section class="module-wrapper">
  <header class="mod-group-head slantrt" id="websites-webapps">
    <h2 class="mod-group-title">Websites <span title="and">&amp;</span> Web Apps</h2>
  </header>

  <ul class="apps-list clearfix lt45">
    <li class="app">
      <a href="http://parkfinder.ottawadogblog.ca/" rel="external">
        <img src="{{'img2'|env}}/ottawa-park-finder.jpg" alt="" class="project-img">
        <h3 class="app-title">Ottawa Dog Park Finder</h3>
        <span class="app-desc">A web app for finding and rating the best dog parks in the Ottawa Area.</span>
      </a>
    </li>
    <li class="app">
      <a href="http://groundhogdayroundup.ca/" rel="external">
        <img src="{{'img2'|env}}/groundhog-day-roundup.jpg" alt="" class="project-img">
        <h3 class="app-title">Groundhog Day Roundup</h3>
        <span class="app-desc">A fun mini-site chronicling the results of the best day of the year.</span>
      </a>
    </li>
    <li class="app">
      <a href="http://saveviewsource.org/" rel="external">
        <img src="{{'img2'|env}}/save-view-source.jpg" alt="" class="project-img">
        <h3 class="app-title">Save View Source</h3>
        <span class="app-desc">A satire on the controversy surrounding the disappearance of view source.</span>
      </a>
    </li>
    <li class="app">
      <a href="http://lizandthomasgotmarried.ca/" rel="external">
        <img src="{{'img2'|env}}/liz-thomas-married.jpg" alt="" class="project-img">
        <h3 class="app-title">Liz <span title="and">&amp;</span> Thomas Got Married</h3>
        <span class="app-desc">Our wedding website for accepting RSVPs and photos of the big day afterwards.</span>
      </a>
    </li>
  </ul>
</section>
