<!DOCTYPE html>
<html lang="en-ca" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title|escape}} · {% endif %}Thomas J Bradley{% if page.title-after %} · {{page.title-after|escape}}{% endif %}</title>
  <link href="{{"static"|env}}/theme.{{site.buildtime}}.min.css" rel="stylesheet">
  {% include common-head.html %}
</head>
<body>

<header role="banner" class="module module-wide clearfix" id="top">
  <div class="box intro masthead">
    {% assign logotag = "strong" %}
    {% if page.url == "/index.html" %}{% assign logotag = "h1" %}{% endif %}
    <{{logotag}} class="site-title"><a href="/">Thomas J Bradley<i class="logo"><i></i><i></i></i></a></{{logotag}}>
    <nav role="navigation">
      <ul>
        <li>
          <a href="/#professor" class="nav-prof" data-scrollspeed="150">Professor</a>
          <ul><li><a href="http://students.thomasjbradley.ca">Students</a></li></ul>
        </li>
        <li>
          <a href="/#developer" class="nav-dev" data-scrollspeed="250">Developer</a>
          <ul><li{{"current"|onpage:"lab":page.url}}><a href="/lab/">{{"Lab Projects"|markonpage:"lab":page.url}}</a></li></ul>
        </li>
        <li>
          <a href="/#writer" class="nav-write" data-scrollspeed="400">Writer</a>
          <ul>
            <li{{"current"|onpage:"article":page.url}}><a href="/articles/">{{"Articles"|markonpage:"article":page.url}}</a></li>
            <!--<li{{"current"|onpage:"book":page.url}}><a href="/books/">{{"Books"|markonpage:"book":page.url}}</a></li>-->
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="box intro intro-why">
    <p class="my-why">I believe that everybody should perpetually <strong>learn</strong>, <strong>try</strong>, <strong>build</strong>, <strong>break</strong>, <span title="and">&amp;</span> <strong>fix</strong> things—the open web is the perfect platform for exactly that.</p>
  </div>
</header>

<div class="main" role="main">
  {{content}}
</div>

<footer role="contentinfo" class="clearfix vcard">
  <ul class="contact">
    <li><a href="mailto:hey@thomasjbradley.ca" class="email">hey@thomasjbradley.ca</a></li>
    <li><a href="http://twitter.com/thomasjbradley">@thomasjbradley</a></li>
    <li><a href="https://github.com/thomasjbradley">github:thomasjbradley</a></li>
  </ul>
  <p class="copyright">© <span class="fn">Thomas J Bradley</span>. <span class="adr"><span class="locality">Ottawa</span>, <span class="country-name">Canada</span></span>. <a href="#top" class="top" title="Rocket to the top!">Rocket to the top!</a></p>
  <span class="rocketeer"><b></b><i></i></span>
</footer>

<!--
<div class="grid">
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
  <div class="g">&nbsp;</div>
</div>
-->

<script type="text/x-jquery-tmpl" id="testimonial-controls-template">
  <ul class="testimonial-controls">
    <li class="prev"><button class="btn-link">⇠ Previous</button></li>
    <li class="next"><button class="btn-link">Next ⇢</button></li>
  </ul>
</script>
<script src="{{"static"|env}}/scripts.{{site.buildtime}}.min.js"></script>
{% include ga.html %}
</body>
</html>
