<!DOCTYPE html>
<html lang="en-ca" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Signature Pad · Thomas J Bradley</title>
  <link href="{{"static"|env}}/demo.{{site.buildtime}}.min.css" rel="stylesheet">
  {% include common-head.html %}
  <link rel="stylesheet" href="{{"static"|env}}/jquery.signaturepad.css">
  <!--[if lt IE 9]><script src="{{"static"|env}}/flashcanvas.js"></script><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
  <div role="main">
    {% include demo-logo.html %}
    {{content}}
  </div>
  {% include ga.html %}
</body>
</html>
