<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Signature Pad · Thomas J Bradley</title>
  <link href="{{"static"|env}}/demo.css" rel="stylesheet">
  {% include common-head.html %}
  <link rel="stylesheet" href="{{"static"|env}}/jquery.signaturepad.css">
  <!--[if lt IE 9]><script src="{{"static"|env}}/flashcanvas.js"></script><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
  <div class="site-title"><a href="/" title="Designed &amp; Developed by Thomas J Bradley"><span>Designed &amp; Developed by Thomas J Bradley</span><i class="logo"><i></i><i></i></i></a></div>
  {{content}}
</body>
</html>
